# 7DaysofCode - Alura

### Comece pelos empréstimos e você terá os dados das transações. Depois, mescle com os dados do acervo, para que você possa entender, por exemplo, de qual biblioteca era o material emprestado ou a qual tema ele se referia. Elas se relacionam pela coluna de código de barras de cada material.

In [1]:
import pandas as pd

In [2]:
from pathlib import Path

In [6]:
arquivos =  Path('Datasets/dados_emprestimos').glob('*.csv')

In [4]:
lista_arquivos = []

In [7]:
for x in arquivos:
    lista_arquivos.append(x.name)

In [13]:
len(lista_arquivos)

21

In [14]:
total = pd.DataFrame()
for tabela in lista_arquivos:
    df = pd.read_csv(f'Datasets/dados_emprestimos/{tabela}')
    total = total.append(df)

C:\Users\leandro.silva\AppData\Local\Temp\ipykernel_10876\1660477883.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(df)
C:\Users\leandro.silva\AppData\Local\Temp\ipykernel_10876\1660477883.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(df)
C:\Users\leandro.silva\AppData\Local\Temp\ipykernel_10876\1660477883.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(df)
C:\Users\leandro.silva\AppData\Local\Temp\ipykernel_10876\1660477883.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(df)
C:\Users\leandro.silva\AppData\Local\Temp\ipykernel_10876\1660477883.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(df)
C:\Users\leandro.silva\AppData\Local\Temp\ipykernel_10876\1660477883.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(df)
C:\Users\leandro.silva\AppData\Local\Temp\ipykernel_10876\1660477883.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(df)
C:\Users\leandro.silva\AppData\Local\Temp\ipykernel_10876\1660477883.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(df)
C:\Users\leandro.silva\AppData\Local\Temp\ipykernel_10876\1660477883.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(df)
C:\Users\leandro.silva\AppData\Local\Temp\ipykernel_10876\1660477883.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(df)
C:\Users\leandro.silva\AppData\Local\Temp\ipykernel_10876\1660477883.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(df)
C:\Users\leandro.silva\AppData\Local\Temp\ipykernel_10876\1660477883.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(df)
C:\Users\leandro.silva\AppData\Local\Temp\ipykernel_10876\1660477883.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(df)
C:\Users\leandro.silva\AppData\Local\Temp\ipykernel_10876\1660477883.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(df)
C:\Users\leandro.silva\AppData\Local\Temp\ipykernel_10876\1660477883.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(df)
C:\Users\leandro.silva\AppData\Local\Temp\ipykernel_10876\1660477883.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(df)
C:\Users\leandro.silva\AppData\Local\Temp\ipykernel_10876\1660477883.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(df)
C:\Users\leandro.silva\AppData\Local\Temp\ipykernel_10876\1660477883.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(df)
C:\Users\leandro.silva\AppData\Local\Temp\ipykernel_10876\1660477883.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(df)
C:\Users\leandro.silva\AppData\Local\Temp\ipykernel_10876\1660477883.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(df)
C:\Users\leandro.silva\AppData\Local\Temp\ipykernel_10876\1660477883.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(df)

In [15]:
total

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
26556,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26557,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26558,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26559,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO
26560,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO

In [17]:
total.tipo_vinculo_usuario.unique()

array(['ALUNO DE GRADUAÇÃO', 'ALUNO DE PÓS-GRADUAÇÃO', 'DOCENTE',
       'SERVIDOR TÉCNICO-ADMINISTRATIVO', 'DOCENTE EXTERNO',
       'ALUNO MÉDIO/TÉCNICO', 'USUÁRIO EXTERNO', 'OUTROS'], dtype=object)

In [44]:
selecao = total.matricula_ou_siape.isnull()

In [45]:
total[selecao]

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
3482,713154,2007015558,2010/02/05 17:22:18.059000000,2010/01/21 11:38:42.615000000,2010/02/09 14:39:37.772000000,NaN,SERVIDOR TÉCNICO-ADMINISTRATIVO
4372,714044,L188570,2010/02/24 10:49:34.210000000,2010/01/26 15:08:42.587000000,2010/03/25 14:56:39.205000000,NaN,USUÁRIO EXTERNO
4375,714047,L148514,2010/02/24 10:49:34.193000000,2010/01/26 15:13:40.173000000,2010/03/25 14:56:25.572000000,NaN,USUÁRIO EXTERNO
4376,714048,L187527,2010/02/24 10:49:34.159000000,2010/01/26 15:13:40.204000000,2010/03/25 14:56:48.598000000,NaN,USUÁRIO EXTERNO
4537,714209,L165158,2010/02/05 17:22:18.034000000,2010/01/27 11:07:39.973000000,2010/02/08 09:49:36.146000000,NaN,SERVIDOR TÉCNICO-ADMINISTRATIVO
...,...,...,...,...,...,...,...
20472,2982998,2009013225,NaN,2020/03/09 12:07:52.793000000,2020/11/25 08:28:53.000000000,NaN,USUÁRIO EXTERNO
20473,2982999,2012050946,NaN,2020/03/09 12:07:52.822000000,2020/11/25 08:29:23.000000000,NaN,USUÁRIO EXTERNO
20474,2983000,2016006644,NaN,2020/03/09 12:07:52.850000000,2020/11/25 08:28:29.000000000,NaN,USUÁRIO EXTERNO
20475,2983001,2016006659,NaN,2020/03/09 12:07:52.879000000,2020/11/25 08:29:55.000000000,NaN,USUÁRIO EXTERNO
20476,2983002,2017014241,NaN,2020/03/09 12:07:52.901000000,2020/11/25 08:27:59.000000000,NaN,USUÁRIO EXTERNO

In [46]:
acervo = pd.read_parquet('Datasets/dados_exemplares.parquet')

In [47]:
acervo

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15
...,...,...,...,...,...,...,...
568580,1353472,2021011150,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,951,268231
568581,1353473,2019013454,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,997,268233
568582,1353474,2019012811,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,987,268234
568583,1353475,2019013451,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,764,268235
568584,1353476,2019012276,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,962,268236

In [49]:
tabela_completa = pd.merge(total,acervo, on='codigo_barras')

In [51]:
del total,acervo

In [53]:
tabela_completa

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
2,726965,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2.009122e+09,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
3,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
4,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072553,2989018,2009036492,NaN,2020/03/17 19:49:10.187000000,2020/12/03 08:12:20.000000000,2.015011e+10,ALUNO DE GRADUAÇÃO,274820,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,676,120845
2072554,2989020,2014062640,NaN,2020/03/17 19:51:15.700000000,2021/01/07 11:16:28.000000000,2.019004e+10,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228,213248
2072555,2989032,2018003324,NaN,2020/03/17 20:00:11.416000000,2021/08/30 13:29:44.000000000,2.019102e+10,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,255835
2072556,2989049,2006024313,NaN,2020/03/17 20:47:18.741000000,NaN,2.015013e+10,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663,82178
2072557,2989061,2018031352,NaN,2020/03/17 21:22:22.138000000,2021/07/26 15:05:20.000000000,2.020001e+10,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355,174443